@import "src/styles/variable";

.book {
  display: flex;
  grid-gap: 35px;
  padding: 15px;
  background-color: $colorContainer;
  .book__img{
    img{
      box-shadow: $shadowImg

    }
  }
  .book__info {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;

  }
}